*{
    margin:0;
    padding:0;
  }
  html {
    scroll-behavior:smooth;
    animation: 1s;
  }
  body{
    background-color:grey;
  }
  .fi{
      background-color: blueviolet;
  }
  .se{
      background-color: cornflowerblue;
  }
  .fiv{
      background-color: darkgreen;
  }
  p{
    height:30vh;
    text-align:center;
    border:solid black 10px;
  }
  .to-top{
    position:fixed;
    bottom:50px;
    right:30px;
    height:3rem;
    width:3rem;
    border-radius:50%;
    opacity:0;
    pointer-events:none;
    transition:all .4s;
  }
  .to-top.active{
  opacity:1;
  pointer-events:auto;
  bottom:50px;
  }