*{
    margin:0;
    padding:0;
}
body{
    background: url("46497.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    color:white;
}
.container{
    height: auto;
}
header{
    display:grid;
    justify-content:center;
    align-items:center;
    font-size:5vw;
}
@media screen and (min-width: 601px){
    header{
        font-size:1rem;
    }
}