*{
    margin: 0;
    padding: 0;
}
body{
    padding: 10vh;
}
.header,.content{
    background-color: burlywood;
}
.menu,.footer{
    background-color: cadetblue;
}
.container{
    height: auto;
    width:auto;
}