.one,.three,.five,.seven,.nine,.eleven{
    background-color: burlywood;
}
.two,.four,.six,.eight,.ten,.twelve{
    background-color: cadetblue;
}
.container{
    text-align: center;
    font-size: larger;
    font-weight: 200px;
}