*{margin: 0; padding: 0; list-style: none;}
header{
    margin:.9rem;
    display: flex;
    flex-direction: row;
}
header>h1{
    flex: 3;
    text-align: center;
}
header>form{
    flex:1;
    height: 100%;
}
#search{
    height: 100%;
}
